<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="653dc5f8-4b6f-40c3-a6aa-c7ce6db480dd" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://maps.googleapis.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="653dc5f8-4b6f-40c3-a6aa-c7ce6db480ddfileName">http%3A%2F%2Fmaps.googleapis.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://maps.googleapis.com</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="1603ab94-be56-4a7b-9343-5cd7edd924d4"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>