<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a6633ce3-83ff-4cab-b33b-cbad6b1f69e4" name="http://maps.googleapis.com TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a6633ce3-83ff-4cab-b33b-cbad6b1f69e4fileName">http%3A%2F%2Fmaps.googleapis.com-TestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="1603ab94-be56-4a7b-9343-5cd7edd924d4"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>